{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:500,700&amp;subset=cyrillic" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.min.js"></script> -->



    {% block stylesheets %}
        {% do assets.addCss('theme://css/bootstrap.min.css', 100) %}
        {% do assets.addCss('theme://css/bootstrap-theme.min.css', 100) %}
        <!-- {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %} -->
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/bootstrap.min.js', 99) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}

    <div class="header">
        <div class="container-fluid" id="top-numbers">
          <div class="container">
            <ul>
              <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> +38(0629)41-35-07</li>
              <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> +38(050)594-83-15</li>
              <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Обратная связь</li>
            </ul>
          </div>
        </div>
        <div class="container-fluid navbar-placeholder">
        <div data-spy="affix" data-offset-top="26" class="container-fluid navbar-sticky">
            {% block header_navigation %}
            <nav class="navbar">
              <div class="container">
              <div class="navbar-header">
                  <a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}">
                    <img src="{{ url('theme://images/elcom.png') }}" alt="{{ config.site.title }}">
                  </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navigation-grouped">
                  {% include 'partials/navigation.html.twig' %}
                  {% include 'partials/langswitcher.html.twig' %}
                  <ul class="navbar-phone navbar-right">
                  <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> +38(050)594-83-15</li>
                  </ul>
                  <form class="navbar-form navbar-right">{% include 'partials/simplesearch_searchbox.html.twig' %}</form>

                </div>
              </div>
              </div>
            </nav>

            {% endblock %}
        </div>
    </div>
  </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="container-fluid">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="footer container-fluid text-center">
      <div class="footer-menu hidden-xs">
        <ul>
            {% if theme_config.dropdown.enabled %}
                {{ _self.loop(pages) }}
            {% else %}
                {% for page in pages.children.visible %}
                    {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                    <li class="{{ current_page }}">
                        <a href="{{ page.url }}">
                            {{ page.menu }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}

          </ul>      </div>
      <div>
      <p><strong>Certified Agent</strong></p>
      <ul>
        <li><a href="http://furuno.com" target="_blank"><img style="height:10px;" src="{{ url('theme://images/logos/furuno.png') }}"></a></li>
        <li><a href="https://www.kelvinhughes.com" target="_blank"><img style="height:40px;" src="{{ url('theme://images/logos/kelvin_h.png') }}"></a></li>
        <li><a href="http://www.jotron.com" target="_blank"><img style="height:30px;" src="{{ url('theme://images/logos/jotron.png') }}"></a></li>
        <li><a href="http://www.cobham.com/" target="_blank" ><img style="height:40px;" src="{{ url('theme://images/logos/sailor.png') }}"></a></li>
      </ul>
    </div>
      <div class="footer-copyright">© Copyright 2000-2016 Elcom Ltd. All Rights Reserved</div>
      <div class="footer-name-address">
        <ul>
        <li>Elcom Ltd.</li>
        <li>87517, Ukraine, Mariupol, Krasnomayakskaya-Str. 2</li>
      </ul>
      </div>
    </div>
  <!-- </main> -->
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script>$(".homepage-cover-image").slick({
      accessibility: false,
      draggable: false,
      swipe: false,
      touchMove: false,

      autoplay: true,
      arrows: false,
      autoplaySpeed: 4000,
      fade: true,
      speed: 800


    });</script>
    <script>$(".homepage-grid").slick({

      slidesToShow: 6,
      slidesToScroll: 6,
      arrows: true,
      appendArrows: $(".homepage-grid-wrapper"),
      rows: 2,

      responsive: [{

      breakpoint: 1200,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: false
      }

    }, {

      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }

    }, {

      breakpoint: 460,

      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }]

    });</script>
    <!-- <script>
  var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'padding': 256,
    'tolerance': 70
  });
</script> -->
{% endblock %}

</body>
