{% extends 'partials/base.html.twig' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>


<div class="container-fluid">
<div class="certified-agent">
  <div class="container">
  <ul>
    <li>{{ "TOP.CERTIFIEDAGENT"|t}}</li>
    <li><a href="http://furuno.com" target="_blank"><img style="height:14px;" src="{{ url('theme://images/logos/furuno.png') }}"></a></li>
    <li><a href="https://www.kelvinhughes.com" target="_blank"><img style="height:56px;" src="{{ url('theme://images/logos/kelvin_h.png') }}"></a></li>
    <li><a href="http://www.jotron.com" target="_blank"><img style="height:42px;" src="{{ url('theme://images/logos/jotron.png') }}"></a></li>
    <li><a href="http://www.cobham.com/" target="_blank"><img style="height:54px;" src="{{ url('theme://images/logos/sailor.png') }}"></a></li>

  </ul>
</div>
</div>

<div class="homepage-vertical">
<div class="homepage-center-title text-center animated fadeInUp">
  <span class="">{{ "TITLE.CENTERED"|t}}</span>
</div>

<div class="homepage-grid-wrapper">
  <a href="{{ base_url }}/services">
    <div class="homepage-more">{{ "BOXES.MORE"|t }}</div>
<div class="homepage-grid hvr-fade">
    <div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX1"|t }}</p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX2"|t }}</p>
      </div>
    </div><div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX3"|t }}</p>
      </div>
    </div><div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX4"|t }}</p>
      </div>
    </div><div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX5"|t }}</p>
      </div>
    </div><div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX6"|t }}</p>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX7"|t }}</p>
      </div>
    </div><div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX8"|t }}</p>
      </div>
    </div><div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX9"|t }}</p>
      </div>
    </div><div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX10"|t }}</p>
      </div>
    </div><div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX11"|t }}</p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="cell">
        <p>{{ "BOXES.BOX12"|t }}</p>
      </div>
    </div>
</div>
<div class="homepage-more-mobile visible-xs visible-sm">{{ "BOXES.MORE"|t }}</div>
</a>
</div>

  <div class="homepage-cover-image">
    <div><img class="" src="{{ url('theme://images/cover-volvo.jpg') }}"></div>
    <div><img class="" src="{{ url('theme://images/cover-hughes.jpg') }}"></div>
      <div><img class="" src="{{ url('theme://images/cover-furuno.jpg') }}"></div>
  </div>
</div>
</div>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>
var number = 0 + Math.floor(Math.random() * 3);

$(".homepage-cover-image").slick({
  accessibility: false,
  draggable: false,
  swipe: false,
  touchMove: false,

  autoplay: true,
  arrows: false,
  autoplaySpeed: 4000,
  fade: true,
  speed: 800,

  responsive: [{

    breakpoint: 600,
    settings: {
      initialSlide: (number),
      autoplay: false,
    }

  }]

});</script>
<script>$(".homepage-grid").slick({

  slidesToShow: 6,
  slidesToScroll: 6,
  arrows: true,
  appendArrows: $(".homepage-grid-wrapper"),
  rows: 2,

  responsive: [{

  breakpoint: 1200,
  settings: {
    slidesToShow: 3,
    slidesToScroll: 3,
    infinite: false
  }

},
{

  breakpoint: 750,

  settings: {
    arrows: true,
    slidesToShow: 1,
    slidesToScroll: 1
  }
}]

});
</script>

{% endblock %}
