{% extends 'partials/base.html.twig' %}
{% set collection = page.evaluate([{'@page.children':'/services'}]) %}

{% block content %}
<div class="container main-content">

<div id="service-list" class="col-lg-3">
  <ul>
{% for p in collection %}
<li><a href="{{ p.link }}" alt="{{ p.title }}">{{ p.title }}</a></li>
{% endfor %}
</ul>
</div>

<div class="col-lg-8 service-content">
  <span class="service-title">{{ page.title }}</span>

  <div class="service-text">
  {{ page.content }}
  </div>
</div>

</div>
{% endblock %}
